---
name: CI
on:
  push:
    branches: [main]
  pull_request: {}
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ubuntu-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: [8.3, 8.4, 8.5]

    name: PHP ${{ matrix.php-versions }}

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: composer:v2
      # From https://github.com/shivammathur/setup-php#cache-composer-dependencies
      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install

      - name: Test site installation
        shell: bash
        run: composer exec -- drush site:install --existing-config --db-url=sqlite://sites/test_db

      - name: Inspect configuration
        shell: bash
        # Just warnings, for now...
        continue-on-error: true
        run: |
          composer exec -- drush en config_inspector
          composer exec -- drush config:inspect --only-error --detail

  isle-test:
    runs-on: ubuntu-24.04
    name: ISLE site template
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          repository: Islandora-Devops/isle-site-template

      - name: Start islandora-starter-site
        uses: ./.github/actions/setup
        with:
          starter-site-owner: "${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.owner.login || github.repository_owner }}"
          starter-site-ref: "heads/${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}"

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          sparse-checkout: ci/test.sh
          path: ./ci

      - run: ./ci/ci/test.sh

